.menu {
  font-size: 18px;
  color: #f2f2f2;
  font-family: 'Libre Caslon Text';
}

.name {
  text-align: left!important;
  margin-left:10px;
}

.menuheading {
  text-align: center;
  color: #f2f2f2;
  font-family: 'Libre Caslon Text';
  font-style: italic;
  font-size: 25px!important;
  margin-bottom: 10px;
  padding-bottom:10px;
}

.bolum {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.black {
  color: #080808;
}

.bolum.whitebg {
  background-color: #f2f2f2;
}

span:hover {
  color: #f2f2f2!important;
}

